.bus-routes {
    padding: 0px 10px;
    max-height: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    dt {
        padding-bottom: 10px;
        font-size: 18px;
        strong {
            color: #00c;
        }
        span {
            color: #979899;
            font-size: 13px;
        }
    }
    dd {
        padding: 5px 0px;
        strong {
            color: #00c;
        }
        .type {
            background-color: green;
            color: white;
            padding: 3px;
            border-radius: 5px;
            font-size: 12px;
        }
        .red {
            background-color:#FF5E99;
        }
        .yellow {
            background-color: #e7ad52;
        }
    }
}