$tab-height: 40px;
$HEADER-HEIGHT: 50px;

body {
    display: flex;
    flex-direction: column;
}
header {
    background-color: black; 
    color: white; 
    font-weight: bold; 
    display: flex; 
    flex-direction: row;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
main {
    display: flex;
    flex-direction: row;

    height: calc(100vh - #{$HEADER-HEIGHT});
}

// stations
aside {
    overflow-x:hidden;
    overflow-y:auto;
    position: absolute;
    display: none;
    right: 0;
    top: 50px;
    z-index: 100;
    background-color: white;
    height: calc(100vh - #{$HEADER-HEIGHT});
}

// map
article {
    flex-grow: 3;
}
